DATABASE_URL="file:./dev.db"
ML_APP_ID="seu_app_id_do_mercado_livre"
ML_CLIENT_SECRET="sua_secret_key"
ML_REDIRECT_URI="http://localhost:3000/api/ml/callback"
ML_AUTH_URL="https://auth.mercadolivre.com.br/authorization"
ML_API_URL="https://api.mercadolibre.com"
APP_URL="http://localhost:3000"
